div{

  /* height:px; */
  /* background-color: #D6EAF8 ; */
}

body{
  margin: 0;
  text-align: center;
  font-family: 'Sriracha', cursive;
  font-size: 1em;
  /* background-color: #7895B2; */

}
h2{
  font-size: 2.5rem;
  font-family: 'Sriracha', cursive;
}

h1{
  margin-top: 50px;
  font-family: 'Sriracha', cursive;
  font-size: 5.625rem;
}
.Top-Header{
  position: relative;
  padding-top: 188px;
  background-color: #7895B2;
  /* height: 1190px; */

}
/* .example-div{
  /* height: 300px;
  width: 300px;
  background-color: pink; */
  /* padding: 20px;
/* } */
/* .middle-container{
  height: 200px;
  width: 200px;
  background-color: blue; */
/* }
.bottom-container{
  height: 200px;
  width: 200px;
  background-color: red;
} */ */
.bottom-cloud{
  /* display: inline-block; */
  position: absolute;
  left: 100px;
  bottom: 300px;
}
.cloud3{
  position: absolute;
  right: 1000px;
  bottom: 700px;
  left: 100px;
  width: 10%;
}
.top-cloud{
  /* display: inline-block; */
  position: absolute;
  right: 300px;
  top: 50px;

}
.profile-img{
width:15%;
margin-bottom: 30px;
}
.profile{
  /* margin-top: 50px; */
  /* background-color: grey; */
  padding: 100px;
  padding-bottom: 50px;
}
.skill-row1{
  width: 30%;
  margin: 100px auto;
  text-align: left;
  float: left: 30px;
}
.skill-img{
  width: 20%;
  float: left;

}
.skills{
  margin-top: 50px;
}
.skill-img2{
  width: 15%;
  float: right 30px;

}
.skill-row2{
  width: 30%;
  margin: 100px auto;
  text-align: right;
}
.skill-img3{
  width: 15%;
}
.skill-row3{
  width: 30%;
  margin: 100px auto;
  text-align: left;
}
table{
  margin: auto;
  border: 1px solid;
  width:30%;
  text-align: center;
}
thead{
  background-color: #7895B2;
  color : #fff;
}
td{
  border: 1px solid;
  padding-bottom: 50px;
}
hr{
  border-style: none;
  border-top-style:dotted;
  border-color: light;
  border-width: 5px;
  width: 20%;
  margin: auto;
}
/* .ufo{
  position: absolute;
  right: 1000px;
  bottom: 500px;
  left: 100px;
  width: 15%;
  -webkit-transform:rotate(300deg);
} */
.card1{
  margin: auto;
  display: inline-block;
  position: relative;
  /* left: 50px; */
  right: 20px;
}
.card2{
  margin: auto;
  display: inline-block;
  position: relative;
  left: 20px;
}
.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: var(--bs-progress-bar-color);
    text-align: center;
    white-space: nowrap;
    background-color: #7895B2;
    transition: var(--bs-progress-bar-transition);
  }
  .progress {
      --bs-progress-height: 3rem;
      --bs-progress-font-size: 0.75rem;
      --bs-progress-bg: #e9ecef;
      --bs-progress-border-radius: 0.375rem;
      --bs-progress-box-shadow: inset 0 1px 2pxrgba(0, 0, 0, 0.075);
      --bs-progress-bar-color: #fff;
      --bs-progress-bar-bg: #0d6efd;
      --bs-progress-bar-transition: width 0.6s ease;
      display: flex;
      height: var(--bs-progress-height);
      overflow: hidden;
      font-size: var(--bs-progress-font-size);
      background-color: var(--bs-progress-bg);
      border-radius: var(--bs-progress-border-radius);
      margin-top: 30px;
  }
.bottom-head{
  background-color:#D6EAF8;
}
.Middle-Header{
  background-color:#D6EAF8;
}
.card-body2{
  display:inline-block;
  position: relative;
  left: 200px;
}
